$light-1: #fdfdfd;
$light-2: #f0f0f0;
$light-3: #e0e0e0;

$dark-1: #222020;
$dark-2: #3a3a3a;
$dark-3: #5a5a5a;
$dark-4: #6b6b6b;

$dark-grey-1: #3c3c3c;
$dark-grey-2: #707070;

$light-grey-1: #d4d4d4;
$light-grey-2: #868686;

$blue: #6495ED;
$yellow: #e4d00a;
$green: #1DB954;

$red-error:#E52B50;

